* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./images/table.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    color: goldenrod;
    margin: 1rem 0;
    font-size: 3rem;
}

h2 {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

button {
    display: block;
    margin: 0 auto;
    background-color: goldenrod;
    border: none;
    color: #016f32;
    width: 10rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    padding: 0.5rem 0;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    body {
        font-size: 1rem;
    }
}